<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.talkmate.aman">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:allowBackup="false"
        android:icon="@mipmap/talkmate_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/talkmate_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TALKMATE">
        <activity
            android:name="com.talkmate.aman.authentication.BiometricAuthActivity"
            android:exported="false" />
        <activity
            android:name="com.talkmate.aman.messages.ChatActivity"
            android:exported="false" />

        <service
            android:name="com.talkmate.aman.service.BasicService"
            android:exported="true"
            android:label="KEYS"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.talkmate.aman.settings.TutorialActivity"
            android:exported="false" />
        <activity
            android:name="com.talkmate.aman.notes.SecretNotesActivity"
            android:exported="false" />
        <activity
            android:name="com.talkmate.aman.notes.addnote.AddNotesActivity"
            android:exported="false" />
        <activity
            android:name="com.talkmate.aman.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.talkmate.aman.signin_login.LogInActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- <activity -->
        <!-- android:name=".aman.app.home.HomeActivity" -->
        <!-- android:exported="false" -->
        <!-- android:windowSoftInputMode="adjustPan" /> -->
        <activity
            android:name="com.talkmate.aman.home.PasswordGeneratorActivity"
            android:exported="false" />
        <activity
            android:name="com.talkmate.aman.home.addpassword.AddPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.talkmate.aman.base.TabLayoutActivity"
            android:exported="false"
            android:theme="@style/Theme.TALKMATE"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.talkmate.aman.settings.AppInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.talkmate.aman.authentication.PinLockActivity"
            android:exported="false" />

        <service
            android:name=".FCMService.CustomMessagingService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/talkmatelogo" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primaryLightColor" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <receiver android:name=".FCMService.NotificationReceiver" android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>